@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: #de.33333333333544.e666666666668;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0, 0%, 100%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 218, 11%, 65%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 270, 80%, 60%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 210, 10%, 20%;
    --secondary-foreground: 210, 5%, 65%;

    --muted: 210, 10%, 25%;
    --muted-foreground: 210, 5%, 50%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-muted;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.detail {
  font-weight: 600;
  text-transform: capitalize;
}

.custom_card {
  display: grid;
  gap: 8;
  border-radius: 0.75rem;
  border-width: 1px;
  padding: 1.25rem;
  box-shadow:
    0 4px 6px -1px rgb(146, 161, 140),
    0 2px 4px -1px rgb(101, 113, 96);
}

.custom_card_heading {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #657160;
}

.custom_card_details {
  display: grid;
  margin-top: 1.25rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 1rem;
  align-content: space-between;
  width: 100%;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.dark-gradient {
  @apply bg-gradient-to-b from-gray-900 to-gray-800;
}

.auth_page {
  @apply dark-gradient flex min-h-screen items-center justify-center px-4 py-8;
}

.auth_card {
  width: 100%;
  max-width: 60rem;
  position: relative;

  @apply border-gray-700 bg-gray-800 text-white;
}

.auth_head {
  @apply text-center text-4xl font-semibold;
}

.auth_subhead {
  @apply text-center font-light text-muted-foreground;
}

.dashboard_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.dashboard_header {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
  align-items: center;
  border-bottom-width: 1px;
  height: 3.5rem;
  background-color: rgb(243 244 246 / 0.4);
}

.glass-background {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
